* [ETL Fixtures](https://github.com/ahuimanu/CIDM6325/tree/master/etl_fixtures): A python module to Extract, Transform, and Load T-100 Market data from a CSV file to a Django Fixture JSON file.
* [T-100 Data](https://github.com/ahuimanu/CIDM6325/tree/master/t100data): A Django Project that demonstrates loading and querying the T-100 Market data.
